body>main {
  flex-grow: 1;

  >*:first-child {
    padding-top: var(--toolbar-height);
  }


  &>section {
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    @include mq($until: md) {
      margin: 1rem;
    }

  }

  background-color: var(--primary);
  color: var(--primary-txt);

  .secondary {
    background-color: var(--secondary);
    --secondary-txt: var(--secondary-txt-blue);
    color: var(--secondary-txt);

    &.orange {
      --secondary-txt: var(--secondary-txt-orange)
    }
  }

  .tertiary {
    background-color: var(--tertiary);
    color: var(--tertiary-txt);
  }
}

body:not(.home) {
  h2:not(.nostyle) {
    margin: 3rem 0 5rem;
    font-size: 4.4rem;
    font-weight: 700;
  }
}

body {
  section {
    padding: 6rem 0 6.5rem;
  }

  .tableofcontents {
    display: none;
  }
}