#TableOfContents ul {
  padding-left: 1em;
  list-style: none;
  color: var(--white-txt);

  li {
    font-size: 1.6rem;
    margin: var(--space-1) 0;
    padding: var(--space-1) 0;

    a {
      // color: var(--primary-txt);
      text-decoration: none;

      &:focus, &:hover {
        text-decoration: underline;

      }
    }
  }

}

#TableOfContents > ul > li > ul > li > a {
  display: inline-block;
  margin-top: 1.5rem;
  font-weight: bold ;
}