html {
	// better font rendering
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga"1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// responsive font
	font-size: 12px;

	@include mq($until: xl) {
		font-size: 14px;
	}

	@include mq($until: lg) {
		font-size: 12px;
	}

	@include mq($until: md) {
		font-size: 10px;
	}

	@include mq($until: sm) {
		font-size: 8px;
	}
}

body {
	line-height: 1.5;
}