.section.blog {

  @media (max-width: var(--breakpoint-lg)) {
    main>section {
      margin: 3.2rem var(--container-margin-mobile);
    }
  }

  // first
  article:nth-child(odd) {
    .blog {
      flex-direction: row;
    }

    .img {
      margin-right: 3rem;
    }
  }

  // second
  article:nth-child(even) {
    .blog {
      flex-direction: row-reverse;
    }

    .img {
      margin-left: 3rem;
    }
  }

  .blogs {
    padding-bottom: 8.5rem;

    a.blog-links {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
    }

    a.blog {
      text-decoration: none;
      padding: var(--space-4);
      display: flex;
      color: inherit;
      border-bottom: 2px solid var(--darken-1);

      @include mq($until: md) {
        padding: var(--space-2) var(--space-2) var(--space-4);
      }

      .img {
        display: inline-block;
        background-position: center center;
        background-size: cover;
        --size: 25rem;
        flex: 0 0 var(--size);
        height: var(--size);
        width: var(--size);
        border-radius: var(--space-2);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        flex: 1 1 auto;
        margin-left: var(--space-4);
        justify-content: center;

        h2 {
          margin: 1.7rem 0 0.5rem;
        }

        .reading {
          align-self: flex-end;

          &::after {
            content: ' min.';
          }
        }

        .date {
          margin-bottom: 0.7rem;
          align-self: flex-start;
          color: var(--secondary);
        }

        p {
          line-height: 1.75;
        }

        .summary {
          font-size: 1.4rem;
        }
      }
    }

    @include mq($until: lg) {
      a {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto;

        .img {
          width: 100%;
        }
      }
    }
  }
}

@include mq($until: sm) {
  .section.blog .blogs a.blog {
    display: block;

    .img {
      display: none;
    }
  }
}

@include mq($until: lg) {
  .section.blog .blogs a.blog {
    display: block;

    .img {
      --size: 12.8rem;
      float: left;
      margin: 1.5em;
    }
  }
}