/* FAQ */
.page.faq,
.page.fr-faq {

  #TableOfContents ul {
    text-align: left;
  }

  .tableofcontents {
    display: block;
  }

  @include mq($until: md) {
    .hero .description {
      padding: 0;
    }
  }

  .content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--primary-txt);
    }

    h2 {
      color: var(--secondary-txt);
      margin-top: 8rem;
      margin-bottom: 1rem;
    }

    h3 {
      color: var(--secondary);
      font-weight: bold;
      margin-left: 0;
      margin-top: 3.5rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      font-size: 2.5rem;
      border-top: var(--primarydarker) 2px solid;
    }

    a {
      color: var(--primary-txt);
      text-decoration: underline;
    }

    // h3, h4, h5, h6, & > ul, & > ol, & > p {
    //   margin-left: calc(var(--container-margin)/2 - 3.2rem);
    // }

    li {
      line-height: 1.5;
    }

    ul {
      @include mq($until: md) {
        padding-left: 2ch;
      }
    }

    mark {
      font-weight: bold;
      border-radius: .25em;
      padding: .125em;

      &.a {
        color: var(--fg-mark-a);
        background-color: var(--bg-mark-a);
      }

      &.b {
        color: var(--fg-mark-b);
        background-color: var(--bg-mark-b);
      }

      &.t2 {
        color: var(--fg-mark-t2);
        background-color: var(--bg-mark-t2);
      }

    }
  }

}