body > main {
  background-color: var(--primary);
  color: var(--primary-txt);
  flex-grow: 1;

  & > section {
    // margin: 3.2rem var(--container-margin);
    padding-left: 0;
    padding-right: 0;

    // @include mq($until: md) {
    //   margin: 1.6rem;
    // }

    &.primary {
      background-color: var(--primary);
      color: var(--primary-txt);
    }

    &.primarydarker {
      background-color: var(--primarydarker);
      color: var(--primarydarker-txt);
    }

    &.accent {
      background-color: var(--accent);
      color: var(--accent-txt);
    }

    &.secondary {
      background-color: var(--secondary);
      color: var(--secondary-txt);

    }

    &.tertiary {
      background-color: var(--tertiary);
      color: var(--tertiary-txt);

    }
  }
}

.inner {
  position: relative;
  width: 95%;
  max-width: 1260px;
  height: 100%;
  margin: auto;
  text-align: left;
}

body:not(.home) {
  h2 {
    margin: 3rem 0 5rem;
    font-size: 4.4rem;
    font-weight: 700;
  }
  section {
    padding: 6rem 0 6.5rem;
  }
  .tableofcontents {
    display: none;
  }
}