body > main {
  background-color: var(--primary);
  color: var(--primary-txt);
  flex-grow: 1;

  & > section {
    margin: 2rem var(--container-margin);
    padding-left: 0;
    padding-right: 0;

    @include mq($until: md) {
      margin: 1rem;
    }

    &.primary {
      background-color: var(--color-hero);
      color: var(--primary-txt);
    }

    &.accent {
      background-color: var(--accent);
      color: var(--accent-txt);
    }

  }
}
