/* ATTENDING */
.section.attending {
  
    h2 {
        color: var(--secondary);
        margin-bottom: 10px;
    }

    h3, h4, h5, h6, p {
      margin-left: calc(var(--container-margin)/2 - 3.2rem);
    }

    .centered-img {
      text-align: center;
      margin: var(--space-3) 0;
    }

    .location {
        padding: 0;
        position: relative;
        background: var(--darken-1);
        font-weight: 300;
    
        .map {
          display: block;
          height: 318px;
          background-position: center center;
          background-size: cover;
          margin-bottom: 1.6rem;
        }
    
        .description {
          display: inline-block;
          padding: var(--space-4);
          width: 400px;
          position: absolute;
          bottom: 3.2rem;
          right: 3.2rem;
          background-color: var(--primary);
          color: var(--primary-txt);
    
          .direction {
            display: flex;
            align-items: center;
          }
        }
      }
}
