.talk {
    
  .complexity, .type {
    font-size: 2rem;
    font-weight: normal;
    color: var(--secondary);
    font-style: italic;
  }

  .complexity::before {
    content: 'Niveau : ';
  }

  .type::before {
    content: 'Type : ';
  }

  .type::after {
    font-weight: 100;
    content: ' (' var(--duration, '') ' min.)';
  }

}

.page.sessions {

  .talk-hero {
    position: relative;
    display: flex;
    width: 100%;
    // height: 50vh;
    min-height: 500px;
    // max-height: 750px;
    background-color: var(--tertiary);
    border-bottom: var(--secondary) 5px solid;

    header {
      background-color: transparent !important;
    }
    h1 {
        margin: 0;
        padding: 0;
        margin-top: 15px;
        color: var(--secondary);
        font-size: 4.4rem;
        font-weight: 700;
    }
    .tags {
      background: none;
      border: none;
    }
    .speakers {
      margin-top: 5rem;

      .speaker {
        display: flex;
        align-items: center;
        padding: var(--space-1) var(--space-3);
        --img-size: 3.2rem;

        .speaker-img {
          --img-size: 4.8rem;
          height: var(--img-size, 4.8rem);
          min-width: var(--img-size, 4.8rem);
          border-radius: 100%;
          background-size: cover;
          margin-right: var(--space-4);
        }

        .speaker-name {
          text-transform: uppercase;
        }

        .speaker-country {
          font-size: 1.3rem;
          font-style: italic;
        }

        .info {
          display: flex;
          flex-direction: column;
        }

        .speaker-company {
          img {
            height: 3.2rem;
          }

          figcaption {
            display: none;
          }
        }

        p {
          max-width: 320px;
        }
      }
    }
  }

  .talk {

    header {
      border-radius: var(--space-2);
      padding: var(--space-2);
      display: flex;
      align-items: center;

      h1 {
        flex-grow: 1;
      }

      .tags {
        margin-right: 1ch;
        white-space: nowrap;
      }
    }

    .detail {
      // margin: var(--space-2) 0;
      margin: 3rem 0 5rem;
      padding: var(--space-2) 0;
      // border-top: thin solid var(--darken-1);
      // border-bottom: thin solid var(--darken-1);
      display: flex;
    }

    .content {
      margin: var(--space-4) 0;
      flex: 1 1 auto;
    }

    .media {
      grid-column: 1 / -1;

      a:not(.btn) {
        padding: var(--space-3) 0;
        font-size: 1.6rem;
      }

      .social-slides {
        width: auto;
        color: inherit;
      }
    }

  }
  .talk-hero {

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .speakers {
      flex: 0 1 auto;
      list-style: none;
      padding: 0;
      align-self: start;
      border-radius: var(--space-2);

      .speaker {
        margin: var(--space-4) 0;
        // border: thin solid var(--darken-1);
        // box-shadow: var(--space-1) var(--space-1) var(--space-2) var(--darken-2);
        // transition: box-shadow var(--animation);
        // border-radius: var(--space-2);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // &:hover, &:focus {
        //   box-shadow: var(--space-2) var(--space-2) var(--space-2) var(--darken-3);
        // }

        text-decoration: none;
        color: inherit;

        .speaker-info, .speaker-meta {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .speaker-info {
          flex-wrap: wrap;
          flex-direction: row;
          background-color: var(--white);
          color: var(--primary);
          border-radius: 2px;
          padding: 15px 25px;
        }
        .speaker-meta {
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        p {
          grid-column: 1 / -1;
        }

        figure {
          grid-column: 3;
          padding: var(--space-2);
          display: flex;
          align-items: center;
          justify-content: flex-end;

          img {
            order: 2;
          }
        }
      }
    }
  }
}

@include mq($until: lg) {
  .page.talks {
    .talk {
      grid-template-columns: 1fr;
    }
  }
}